{{- if .Values.metaService.conf }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ms-configmap
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "doris-cluster.labels" . | nindent 4 }}
    app.kubernetes.io/component: ms
data:
  doris_cloud.conf: |
    {{- .Values.metaService.conf | nindent 4 }}
{{- end }}

{{- if .Values.feSpec.conf }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: fe-configmap
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "doris-cluster.labels" . | nindent 4 }}
    app.kubernetes.io/component: fe
data:
  fe.conf: |
    {{- .Values.feSpec.conf | nindent 4 }}
{{- end }}

{{- if .Values.cgSpec.groups }}
{{- range .Values.cgSpec.groups }}
{{- $mergedConfig := include "doris-cluster.mergeCgSpecConfig" (dict "cg" . "root" $) | fromYaml }}
{{- if $mergedConfig.conf }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: be-configmap-{{ .uniqueId | replace "_" "-" }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "doris-cluster.labels" $ | nindent 4 }}
    app.kubernetes.io/component: be
    uniqueId: {{ .uniqueId }}
data:
  be.conf: |
    {{- $mergedConfig.conf | nindent 4 }}
{{- end }}
{{- end }}
{{- end }}
